@import "../styles/utilities";

$pdf-header-height: 2rem;
$pdf-header-font: #fefefe;
$pdf-header-background: #333;
$pdf-viewer-background: #bbb;

.pdf-viewer {
    position: relative;
    width: 100%;
    .loading {
        display: none;
    }
    .loaded {
        margin-top: 2.2rem;
    }
    .pdf-viewer-container {
        overflow: auto;
        margin-top: $pdf-header-height;
        width: 100%;
        background-color: $pdf-viewer-background;
        height: calc(100vh - #{$pdf-header-height});
        font-size: 5rem;
        text-align: center;
        canvas {
            display: block;
            margin: 2rem auto;
            &:first-child {
                margin-top: 0;
            }
        }
    }

    .pdf-header-controls {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        z-index: 5;
        background-color: $pdf-header-background;
        color: $pdf-header-font;
        border-bottom: darken($pdf-header-background, .5);
        height: $pdf-header-height;
        line-height: 1rem;
        width: 100%;
        top: 0;
        margin-left: 0;

    }
    .pdf-header-controls-left {
        margin-left: .5rem;
    }
    .pdf-header-controls-right {
        margin-right: .5rem;
    }
    .pdf-header-page-input {
        display: inline-block;
        width: 2rem;
        text-align: center;
    }
    .pdf-header-page-total {
        margin-left: .5rem;
        display: inline-block;
    }

    .pdf-toolbar-button{
        border: none;
        background-color: transparent;
        color: $pdf-header-font;
        padding: .25rem;
        cursor: pointer;
    }

    &.default canvas {
        max-width: calc(100% - 3rem);
    }
    &.zoomed .pdf-viewer-container {
        cursor: pointer;
    }
}
